#postcardImage {
  position: relative;
  width: 100%;
}

#userName2 {
  font-size: 2em;
  position: absolute;
  top: 400px;
  float: left;
  margin-left: 1.5%;
}

#smLorem {
  font-size: 1em;
  position: absolute;
  top: 470px;
  float: left;
  margin-left: 3%;
  width: 250px;
  word-break: normal;
}

body {
    font-family: monospace;
}
h1 {
  text-align: center;
  font-size: 3em;
  font-weight: bold;
}

p {
  text-align: center;
  font-size: 1.5em;
}
